* {
  font-family: "Barlow Semi Condensed", sans-serif;
}
html {
  font-size: 18px;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.3rem;
}
.btn {
  font-weight: 600;
}

.btn-outline-success:active {
  animation: button-click-animation 0.5s ease;
}

@keyframes button-click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
